.register-container{
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
    width: 50%;
    margin-bottom: 30px;
}

 h1{
    font-size: 45px;
    margin-bottom: 10px;
}

form{
    margin-top: 10px;
}

.btn-Enter a{
    text-decoration: none;
    color:white;
    padding: 10px;
    border-radius: 10px;
}